*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

html, body {
    height: 100%;
    width: 100%;
}

li{
    list-style: none;
}

img{
    display: block;
    width: 100%;
}

#root{
    position: relative;
}

.header{
    height: 70px;
    position: fixed;
    top: 0;
    width: 100%;

    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: aquamarine;
        z-index: -1;
    }

    &__content{
        padding-inline: 20px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo{
        width: 50px;
        height: 50px;
        overflow: hidden;
        border-radius: 50%;
        border: 1px solid orange;
    }

    &__menu{
        flex-grow: .9;
    }

    &__list{
        display: flex;
        flex-direction: row;
        justify-content: start;

        &-item{
            display: flex;
            width: 10%;
            gap: 2rem;
            text-align: center;
        }

        &-item:nth-child(5){
            justify-content: flex-end;
            width: 60%;
        }
    }
}

.container{
    padding-top: 3rem;
}

.burger{
    width: 30px;
    height: 20px;
    position: relative;
    display: none;

    &::after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: grey;
        position: absolute;
        display: block;
        top: 0;
        transition: all 0.3s ease;
    }

    &::before{
        content: '';
        width: 100%;
        height: 2px;
        background-color: grey;
        position: absolute;
        display: block;
        bottom: 0;
        transition: all 0.3s ease;
    }

    span{
        width: 100%;
        height: 2px;
        background-color: grey;
        display: block;
        position: absolute;
        top: 9px;
        transition: all 0.3s ease;
    }

    &.active {
        &::before{
            transform: rotate(45deg);
            bottom: 9px;
        }

        &::after{
            transform: rotate(-45deg);
            top: 9px;
        }

        span{
            scale: 0;
        }
    }
}

@media (max-width: 768px) {
    .header{
        height: 40px;

        &__logo{
            width: 30px;
            height: 30px;
        }

        &__list{
            flex-direction: column;
            background-color: greenyellow;
            position: absolute;
            transform: translateY(-100%);
            left: 0;
            width: 100%;
            z-index: -2;
            transition: all 0.3s ease;

            &-item:nth-child(5){
                flex-direction: column;
                justify-content: flex-start;
                width: fit-content;
            }

            &.active{
                top: 40px;
                transform: translateY(0);
            }
        }
    }

    .burger{
        display: block;
    }
}